{%extends 'base.html'%}
{%import 'macros.html' as macro%}

{%block content%}
    <div class="container blog-container">
        <div class="overlay body">
            <div class="breadcrumb blog-content">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{url_for('main.home')}}">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">All blogs</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Blog Title</li>
                    </ol>
                </nav>
            </div>
            <div class="blog-image blog-content text-center">
                <img class="img-fluid" src="https://s.ftcdn.net/v2013/pics/all/curated/RKyaEDwp8J7JKeZWQPuOVWvkUjGQfpCx_cover_580.jpg?r=1a0fc22192d0c808b8bb2b9bcfbf4a45b1793687" alt="">
            </div>
            <div class="blog-text blog-content">
                <h4>{{blog.title}}</h4>
                <hr>
                <p>{{blog.blog_text}}</p>
                <p class="float-left"><i class="far fa-thumbs-up"></i>{{like_count}}</p>
                <p class="float-right">Created on: <small>{{blog.timestamp}}</small></p>
            </div>
            <div class="blog-footer blog-content blog-text">
                <h5>Comments</h5>
                <hr>
                {%if comments%}
                    {{macro.displayComments(comments)}}
                {%else%}
                    <p>No comments for this blog</p>
                {%endif%}
                
                {%if current_user.is_authenticated%}
                <div class="social-buttons text-center">
                    <a href="/blogpost/{{blog.id}}/comment" class="btn btn-outline-primary"><i class="far fa-comment"></i></a>
                    <a href="/blogpost/{{blog.id}}/upvote" class="btn btn-outline-success"><i class="far fa-thumbs-up"></i></a>
                    <a href="/blogpost/{{blog.id}}/downvote" class="btn btn-outline-warning"><i class="far fa-thumbs-down"></i></a>
                </div>
                {%else%}
                {%endif%}
            </div>
            
        </div>
    </div>
{%endblock%}